$bodyBackground:hsl(0deg 0% 85.98%);
$font-familly: Arial, Helvetica, sans-serif;
$text-align:center;

body {
    background-color: $bodyBackground;
    font-family: $font-familly;
    
    h2{
         text-align: center;
    }

    form {
        border: 3px solid #f1f1f1;
        width: 33.33%;
        margin: auto;
        
    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
        }
    
        button {
        background-color: #000000;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
        }
    
        button:hover {
        opacity: 0.8;
        }

        .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        }
    
        img.avatar {
        width: 40%;
        border-radius: 50%;
        }
    
        .container {
        padding: 16px;
        }

        .error{
            font-weight: bold;
            color: red;
        }
    }
}