html {

    body {
    
        #root{

            .profile-style{
                margin: auto;
                width: 25%;
                padding-top: 5%;
                padding-bottom: 2%;
            }
            
            .container-profile {
                
                h2{
                    line-height: 4rem;
                }

                .center{
                    text-align: center;
                    padding: 1%;
                }

                p:first-of-type {
                    line-height:auto;
                    height: auto;
                }

                height: auto;
            } 

        }
    }
}


